{% raw %}<meta name="description" content="Personal website." />



<link rel="alternate" hreflang="en-us" href="https://www.heyuehuan.com/404.html" />
<link rel="canonical" href="https://www.heyuehuan.com/404.html" />



  <link rel="manifest" href="/manifest.webmanifest" />



<link rel="icon" type="image/png" href="/media/icon_hud37bb86038149fec507f43a2191faf18_50875_32x32_fill_lanczos_center_3.png" />
<link rel="apple-touch-icon" type="image/png" href="/media/icon_hud37bb86038149fec507f43a2191faf18_50875_180x180_fill_lanczos_center_3.png" />

<meta name="theme-color" content="#1565c0" />










  
  






<meta property="twitter:card" content="summary" />
<meta property="twitter:image" content="https://www.heyuehuan.com/media/icon_hud37bb86038149fec507f43a2191faf18_50875_512x512_fill_lanczos_center_3.png" />
<meta property="og:site_name" content="Yuehuan He" />
<meta property="og:url" content="https://www.heyuehuan.com/404.html" />
<meta property="og:title" content="404 Page not found | Yuehuan He" />
<meta property="og:description" content="Personal website." /><meta property="og:image" content="https://www.heyuehuan.com/media/icon_hud37bb86038149fec507f43a2191faf18_50875_512x512_fill_lanczos_center_3.png" /><meta property="og:locale" content="en-us" />

  










  
  
  

  
  

  


  
  <title>404 Page not found | Yuehuan He</title>

  
  
  
  











{% endraw %}