{% raw %}<meta name="description" content="This paper describes the development of a chatbot as a cognitive user interface for portfolio optimization." />



<link rel="alternate" hreflang="en-us" href="https://www.heyuehuan.com/publication/cognitive-fin-port-opt/" />
<link rel="canonical" href="https://www.heyuehuan.com/publication/cognitive-fin-port-opt/" />



  <link rel="manifest" href="/manifest.webmanifest" />



<link rel="icon" type="image/png" href="/media/icon_hud37bb86038149fec507f43a2191faf18_50875_32x32_fill_lanczos_center_3.png" />
<link rel="apple-touch-icon" type="image/png" href="/media/icon_hud37bb86038149fec507f43a2191faf18_50875_180x180_fill_lanczos_center_3.png" />

<meta name="theme-color" content="#1565c0" />










  
  






<meta property="twitter:card" content="summary" />
<meta property="twitter:image" content="https://www.heyuehuan.com/media/icon_hud37bb86038149fec507f43a2191faf18_50875_512x512_fill_lanczos_center_3.png" />
<meta property="og:site_name" content="Yuehuan He" />
<meta property="og:url" content="https://www.heyuehuan.com/publication/cognitive-fin-port-opt/" />
<meta property="og:title" content="Cognitive User Interface for Portfolio Optimization | Yuehuan He" />
<meta property="og:description" content="This paper describes the development of a chatbot as a cognitive user interface for portfolio optimization." /><meta property="og:image" content="https://www.heyuehuan.com/media/icon_hud37bb86038149fec507f43a2191faf18_50875_512x512_fill_lanczos_center_3.png" /><meta property="og:locale" content="en-us" />

  
    <meta
      property="article:published_time"
      content="2021-04-14T00:00:00&#43;00:00"
    />
  
  
    <meta property="article:modified_time" content="2021-02-15T00:00:00&#43;00:00">
  






    









<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.heyuehuan.com/publication/cognitive-fin-port-opt/"
  },
  "headline": "Cognitive User Interface for Portfolio Optimization",
  
  "datePublished": "2021-04-14T00:00:00Z",
  "dateModified": "2021-02-15T00:00:00Z",
  
  "author": {
    "@type": "Person",
    "name": "Yuehuan He"
  },
  
  "publisher": {
    "@type": "Organization",
    "name": "Yuehuan He",
    "logo": {
      "@type": "ImageObject",
      "url": "https://www.heyuehuan.com/media/icon_hud37bb86038149fec507f43a2191faf18_50875_192x192_fill_lanczos_center_3.png"
    }
  },
  "description": "This paper describes the development of a chatbot as a cognitive user interface for portfolio optimization."
}
</script>

  

  




  
  
  

  
  

  


  
  <title>Cognitive User Interface for Portfolio Optimization | Yuehuan He</title>

  
  
  
  











{% endraw %}