{% raw %}<meta name="description" content="Personal website." />



<link rel="alternate" hreflang="en-us" href="https://www.heyuehuan.com/tag/operation-research/" />
<link rel="canonical" href="https://www.heyuehuan.com/tag/operation-research/" />



  <link rel="manifest" href="/manifest.webmanifest" />



<link rel="icon" type="image/png" href="/media/icon_hud37bb86038149fec507f43a2191faf18_50875_32x32_fill_lanczos_center_3.png" />
<link rel="apple-touch-icon" type="image/png" href="/media/icon_hud37bb86038149fec507f43a2191faf18_50875_180x180_fill_lanczos_center_3.png" />

<meta name="theme-color" content="#1565c0" />










  
  






<meta property="twitter:card" content="summary" />
<meta property="twitter:image" content="https://www.heyuehuan.com/media/icon_hud37bb86038149fec507f43a2191faf18_50875_512x512_fill_lanczos_center_3.png" />
<meta property="og:site_name" content="Yuehuan He" />
<meta property="og:url" content="https://www.heyuehuan.com/tag/operation-research/" />
<meta property="og:title" content="Operation Research | Yuehuan He" />
<meta property="og:description" content="Personal website." /><meta property="og:image" content="https://www.heyuehuan.com/media/icon_hud37bb86038149fec507f43a2191faf18_50875_512x512_fill_lanczos_center_3.png" /><meta property="og:locale" content="en-us" />

  
    <meta property="og:updated_time" content="2023-05-08T00:00:00&#43;00:00" />
  










  
  
  

  
  
    <link rel="alternate" href="/tag/operation-research/index.xml" type="application/rss+xml" title="Yuehuan He" />
  

  


  
  <title>Operation Research | Yuehuan He</title>

  
  
  
  











{% endraw %}