  <div class="media author-card content-widget-hr">

      <a href="https://www.heyuehuan.com/"><img class="avatar mr-3 avatar-circle" src="/authors/heyuehuan/avatar_hu7c3b039fe25107d40b5d0cd0e80208e6_37397_270x270_fill_q75_lanczos_center.jpg" alt="Yuehuan He"></a>


    <div class="media-body">
      <h5 class="card-title"><a href="https://www.heyuehuan.com/">Yuehuan He</a></h5>
      <h6 class="card-subtitle">Senior Manager, AI and Machine Learning</h6>
      <p class="card-text">My research interests include applied machine learning, natural language processing,  operation research and optimization.</p>
      <ul class="network-icon" aria-hidden="true">

    <li>
      <a href="https://scholar.google.ca/citations?user=Ich53bEAAAAJ" target="_blank" rel="noopener">
        <i class="ai ai-google-scholar"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/heyuehuan" target="_blank" rel="noopener">
        <i class="fab fa-github"></i>
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/heyuehuan/" target="_blank" rel="noopener">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>

    <li>
      <a href="mailto:heyuehuan@heyuehuan.com" >
        <i class="fas fa-envelope"></i>
      </a>
    </li>

</ul>

    </div>
  </div>
