{% raw %}    
    
    

    <div class="universal-wrapper pt-3">

  <h1>Page not found</h1>

  
  
  <form class="d-flex align-items-center mb-3">
    <input name="q" type="search" class="form-control" placeholder="Search..." autocomplete="off">
  </form>
  

  

  <p>Perhaps you were looking for one of these?</p>

  
  
  
  <h2>Latest</h2>
  <ul>
    
      <li><a href="/post/">Posts</a></li>
    
      <li><a href="/post/hello-world/">Hello World</a></li>
    
      <li><a href="/publication/">Publications</a></li>
    
      <li><a href="/publication/tail-risk-hedging-sp500/">Optimization-based tail risk hedging of the S&amp;P 500 index</a></li>
    
      <li><a href="/publication/siast-slot-filling/">SIAST: A Slot Imbalance-Aware Self-Training Scheme for Semi-Supervised Slot Filling</a></li>
    
      <li><a href="/publication/masc-thesis-tail-risk-hedge/">Optimization-based Tail Risk Hedging</a></li>
    
      <li><a href="/publication/cognitive-fin-port-opt/">Cognitive User Interface for Portfolio Optimization</a></li>
    
      <li><a href="/publication/irregular-flight-recovery/">Decision support system for the irregular flight recovery problem</a></li>
    
  </ul>
  

</div>
  </div>

{% endraw %}