{% raw %}    
    
    

    













  

  
  
  
    
  
<div class="universal-wrapper pt-3">
  <h1>2</h1>

  

  
</div>



<div class="universal-wrapper">
  


  

  
  
    







  







  


<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="/publication/tail-risk-hedging-sp500/" >Optimization-based tail risk hedging of the S&amp;P 500 index</a>
    </div>

    
    <a href="/publication/tail-risk-hedging-sp500/"  class="summary-link">
      <div class="article-style">
        In this paper, we present a mixed risk-return optimization framework for selecting long put option positions for hedging the tail risk of investments in the S&amp;P 500 index.
      </div>
    </a>
    

    <div class="stream-meta article-metadata">

      

      
      <div>
        

  <span class="author-highlighted">
      Yuehuan He</span>, <span >
      Roy Kwon</span>
      </div>
      
    </div>

    
    <div class="btn-links">
      








  

















<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://doi.org/10.1080/0013791X.2023.2209562" target="_blank" rel="noopener">
  DOI
</a>



    </div>
    

  </div>
  <div class="ml-3">
    
    
  </div>
</div>

  
    







  







  


<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="/publication/cognitive-fin-port-opt/" >Cognitive User Interface for Portfolio Optimization</a>
    </div>

    
    <a href="/publication/cognitive-fin-port-opt/"  class="summary-link">
      <div class="article-style">
        This paper describes the development of a chatbot as a cognitive user interface for portfolio optimization.
      </div>
    </a>
    

    <div class="stream-meta article-metadata">

      

      
      <div>
        

  <span class="author-highlighted">
      Yuehuan He</span>, <span >
      Oleksandr Romanko</span>, <span >
      Alina Sienkiewicz</span>, <span >
      Robert Seidman</span>, <span >
      Roy Kwon</span>
      </div>
      
    </div>

    
    <div class="btn-links">
      








  
    
  



<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://www.mdpi.com/1911-8074/14/4/180/pdf" target="_blank" rel="noopener">
  PDF
</a>















<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://doi.org/10.3390/jrfm14040180" target="_blank" rel="noopener">
  DOI
</a>



    </div>
    

  </div>
  <div class="ml-3">
    
    
  </div>
</div>

  
    







  







  


<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="/publication/irregular-flight-recovery/" >Decision support system for the irregular flight recovery problem</a>
    </div>

    
    <a href="/publication/irregular-flight-recovery/"  class="summary-link">
      <div class="article-style">
        In this paper, we describe a data-driven approach to the irregular flight recovery problem.
      </div>
    </a>
    

    <div class="stream-meta article-metadata">

      

      
      <div>
        

  <span >
      Shan Pei</span>, <span class="author-highlighted">
      Yuehuan He</span>, <span >
      Zheng Fan</span>, <span >
      Boyu Zhang</span>
      </div>
      
    </div>

    
    <div class="btn-links">
      








  

















<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://doi.org/10.1016/j.rtbm.2020.100501" target="_blank" rel="noopener">
  DOI
</a>



    </div>
    

  </div>
  <div class="ml-3">
    
    
  </div>
</div>

  

  

  

</div>
  </div>

{% endraw %}