{% raw %}    
    
    

    













  

  
  
  
    
  
<div class="universal-wrapper pt-3">
  <h1>1</h1>

  

  
</div>



<div class="universal-wrapper">
  


  

  
  
    







  







  


<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="/publication/siast-slot-filling/" >SIAST: A Slot Imbalance-Aware Self-Training Scheme for Semi-Supervised Slot Filling</a>
    </div>

    
    <a href="/publication/siast-slot-filling/"  class="summary-link">
      <div class="article-style">
        This paper proposes a novel self-training scheme SIAST for imbalanced slot filling that aims to learn unbiased margins between slot classes while mitigating potential slot confusion, and adaptively samples pseudo-labelled data to balance the slot distribution of the training set.
      </div>
    </a>
    

    <div class="stream-meta article-metadata">

      

      
      <div>
        

  <span >
      Jiachi Liu</span>, <span >
      Sishi Xiong</span>, <span class="author-highlighted">
      Yuehuan He</span>, <span >
      Tong Zhou</span>, <span >
      Liwen Wang</span>, <span >
      Xuefeng Li</span>, <span >
      Bo Xiao</span>
      </div>
      
    </div>

    
    <div class="btn-links">
      








  
    
  



<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=10096302" target="_blank" rel="noopener">
  PDF
</a>




  
  
    
  
<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://github.com/liujiachi1997/SIAST" target="_blank" rel="noopener">
  Code
</a>












<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://doi.org/10.1109/ICASSP49357.2023.10096302" target="_blank" rel="noopener">
  DOI
</a>



    </div>
    

  </div>
  <div class="ml-3">
    
    
  </div>
</div>

  

  

  

</div>
  </div>

{% endraw %}