{% raw %}    
    
    

    













  

  
  
  
    
  
<div class="universal-wrapper pt-3">
  <h1>Operation Resaerch</h1>

  

  
</div>



<div class="universal-wrapper">
  


  

  
  
    







  







  


<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="/publication/irregular-flight-recovery/" >Decision support system for the irregular flight recovery problem</a>
    </div>

    
    <a href="/publication/irregular-flight-recovery/"  class="summary-link">
      <div class="article-style">
        In this paper, we describe a data-driven approach to the irregular flight recovery problem.
      </div>
    </a>
    

    <div class="stream-meta article-metadata">

      

      
      <div>
        

  <span >
      Shan Pei</span>, <span class="author-highlighted">
      Yuehuan He</span>, <span >
      Zheng Fan</span>, <span >
      Boyu Zhang</span>
      </div>
      
    </div>

    
    <div class="btn-links">
      








  

















<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://doi.org/10.1016/j.rtbm.2020.100501" target="_blank" rel="noopener">
  DOI
</a>



    </div>
    

  </div>
  <div class="ml-3">
    
    
  </div>
</div>

  

  

  

</div>
  </div>

{% endraw %}