{% raw %}    
    
    

    













  

  
  
  
    
  
<div class="universal-wrapper pt-3">
  <h1>Operation Research</h1>

  

  
</div>



<div class="universal-wrapper">
  


  

  
  
    







  







  


<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="/publication/tail-risk-hedging-sp500/" >Optimization-based tail risk hedging of the S&amp;P 500 index</a>
    </div>

    
    <a href="/publication/tail-risk-hedging-sp500/"  class="summary-link">
      <div class="article-style">
        In this paper, we present a mixed risk-return optimization framework for selecting long put option positions for hedging the tail risk of investments in the S&amp;P 500 index.
      </div>
    </a>
    

    <div class="stream-meta article-metadata">

      

      
      <div>
        

  <span class="author-highlighted">
      Yuehuan He</span>, <span >
      Roy Kwon</span>
      </div>
      
    </div>

    
    <div class="btn-links">
      








  

















<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://doi.org/10.1080/0013791X.2023.2209562" target="_blank" rel="noopener">
  DOI
</a>



    </div>
    

  </div>
  <div class="ml-3">
    
    
  </div>
</div>

  
    







  







  


<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="/publication/masc-thesis-tail-risk-hedge/" >Optimization-based Tail Risk Hedging</a>
    </div>

    
    <a href="/publication/masc-thesis-tail-risk-hedge/"  class="summary-link">
      <div class="article-style">
        This thesis presents a mixed risk-return optimization framework for selecting long put option positions to hedge the tail risk of financial portfolios.
      </div>
    </a>
    

    <div class="stream-meta article-metadata">

      

      
      <div>
        

  <span class="author-highlighted">
      Yuehuan He</span>
      </div>
      
    </div>

    
    <div class="btn-links">
      








  
    
  



<a class="btn btn-outline-primary btn-page-header btn-sm" href="https://tspace.library.utoronto.ca/bitstream/1807/109084/1/He_Yuehuan_202111_MAS_thesis.pdf" target="_blank" rel="noopener">
  PDF
</a>
















  
  
  
    
  
  
  
  
  
    
  
  <a class="btn btn-outline-primary btn-page-header btn-sm" href="https://hdl.handle.net/1807/109084" target="_blank" rel="noopener">
    TSpace</a>


    </div>
    

  </div>
  <div class="ml-3">
    
    
  </div>
</div>

  

  

  

</div>
  </div>

{% endraw %}