---json
{ "layout": "base.njk" }
---
<div class="universal-wrapper pt-3">
  <h1>{{ term.title }}</h1>
</div>

<div class="universal-wrapper">
{% for p in term.items %}
<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="{{ p.url }}" >{{ p.data.titleHtml }}</a>
    </div>

    <a href="{{ p.url }}"  class="summary-link">
      <div class="article-style">
        {{ p.data.description }}
      </div>
    </a>

    <div class="stream-meta article-metadata">
      <div>
  {{ p.data.authors | authorSpans }}
      </div>
    </div>

    <div class="btn-links">
{{ p.data.links | btnLinksSm }}
    </div>

  </div>
  <div class="ml-3">
  </div>
</div>
{% endfor %}
</div>
  </div>
