---json
{ "layout": "base.njk" }
---
<div class="pub">

<div class="article-container pt-3">
  <h1>{{ titleHtml }}</h1>

<div class="article-metadata">

  <div>
  {{ authors | authorSpans }}
  </div>

  <span class="article-date">
    {{ pdate | monthYear }}
  </span>

</div>

<div class="btn-links mb-3">
{{ links | btnLinks }}
</div>

</div>

  <div class="article-container">

    <h3>Abstract</h3>
    <p class="pub-abstract">{{ abstract }}</p>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">Type</div>
          <div class="col-12 col-md-9">
            <a href="/publication/#{{ typeId }}">
              {{ typeLabel }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">Publication</div>
          <div class="col-12 col-md-9">{{ venueCell }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>

    <div class="space-below"></div>

    <div class="article-style"></div>

<div class="article-tags">
{% for t in pubTags %}  <a class="badge badge-light" href="/tag/{{ t.slug }}/">{{ t.name }}</a>
{% endfor %}</div>

{% shareBox titlePlain, page.url %}

{% include "parts/author-card.html" %}

  </div>
</div>
  </div>
