---json
{
  "layout": "base.njk",
  "permalink": "/404.html",
  "metaFile": "meta/404.html",
  "contentFile": "content/404.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \"  >"
}
---
