---json
{
  "layout": "base.njk",
  "permalink": "/index.html",
  "metaFile": "meta/home.html",
  "contentFile": "content/home.html",
  "isHome": true,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#navbar-main\" class=\"page-wrapper   \" data-wc-page-id=\"3976528693a0108357f4928017600865\" >"
}
---
