---json
{
  "layout": "base.njk",
  "permalink": "/post/hello-world/index.html",
  "metaFile": "meta/post-hello-world.html",
  "contentFile": "content/post-hello-world.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \" data-wc-page-id=\"3f289ad9deff50f67a8232b628d934fb\" >"
}
---
