---json
{
  "layout": "base.njk",
  "permalink": "/post/index.html",
  "metaFile": "meta/post.html",
  "contentFile": "content/post.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \" data-wc-page-id=\"6370009740e1eb2ee0b7974f10ecc91f\" >"
}
---
