---json
{
  "layout": "base.njk",
  "permalink": "/publication/masc-thesis-tail-risk-hedge/index.html",
  "metaFile": "meta/publication-masc-thesis-tail-risk-hedge.html",
  "contentFile": "content/publication-masc-thesis-tail-risk-hedge.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \" data-wc-page-id=\"c34c72db2a1c90dfc6cf52045fd413e6\" >"
}
---
