---json
{
  "layout": "base.njk",
  "permalink": "/publication/tail-risk-hedging-sp500/index.html",
  "metaFile": "meta/publication-tail-risk-hedging-sp500.html",
  "contentFile": "content/publication-tail-risk-hedging-sp500.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \" data-wc-page-id=\"cc295a52a94a6459b12687a98dba6064\" >"
}
---
