---json
{
  "layout": "base.njk",
  "permalink": "/publication/index.html",
  "metaFile": "meta/publication.html",
  "contentFile": "content/publication.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \" data-wc-page-id=\"3a079e7dad19be978a318345a7749d34\" >",
  "footerFile": "parts/footer-publication.html"
}
---
