---json
{
  "layout": "base.njk",
  "permalink": "/publication/irregular-flight-recovery/index.html",
  "metaFile": "meta/publication-irregular-flight-recovery.html",
  "contentFile": "content/publication-irregular-flight-recovery.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \" data-wc-page-id=\"c0c0279a9fbb0979f2ee55369208b62f\" >"
}
---
