---json
{
  "layout": "base.njk",
  "permalink": "/publication/cognitive-fin-port-opt/index.html",
  "metaFile": "meta/publication-cognitive-fin-port-opt.html",
  "contentFile": "content/publication-cognitive-fin-port-opt.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \" data-wc-page-id=\"87d0c00b923acbbf744e01423a1a7014\" >"
}
---
