---json
{
  "layout": "base.njk",
  "permalink": "/publication/siast-slot-filling/index.html",
  "metaFile": "meta/publication-siast-slot-filling.html",
  "contentFile": "content/publication-siast-slot-filling.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \" data-wc-page-id=\"47a8baf52159bea329f11bd08d2f1a80\" >"
}
---
