---json
{
  "layout": "base.njk",
  "permalink": "/publication-type/1/index.html",
  "metaFile": "meta/publication-type-1.html",
  "contentFile": "content/publication-type-1.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \"  >"
}
---
