---json
{
  "layout": "base.njk",
  "permalink": "/tag/financial-optimization/index.html",
  "metaFile": "meta/tag-financial-optimization.html",
  "contentFile": "content/tag-financial-optimization.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \"  >"
}
---
