---json
{
  "layout": "base.njk",
  "permalink": "/tag/operation-research/index.html",
  "metaFile": "meta/tag-operation-research.html",
  "contentFile": "content/tag-operation-research.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \"  >"
}
---
