---json
{
  "layout": "base.njk",
  "permalink": "/tags/index.html",
  "metaFile": "meta/tags.html",
  "contentFile": "content/tags.html",
  "isHome": false,
  "bodyLine": "<body id=\"top\" data-spy=\"scroll\" data-offset=\"70\" data-target=\"#TableOfContents\" class=\"page-wrapper   \"  >"
}
---
