---json
{
  "layout": "base.njk",
  "permalink": "/post/index.html",
  "kind": "list",
  "pageTitle": "Posts",
  "rssPath": "/post/index.xml",
  "updatedSource": "posts",
  "wcPageId": "6370009740e1eb2ee0b7974f10ecc91f"
}
---
<div class="universal-wrapper pt-3">
  <h1>Posts</h1>
</div>

<div class="universal-wrapper">
{% for p in collections.posts %}
<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="{{ p.url }}" >{{ p.data.titleHtml }}</a>
    </div>

    <a href="{{ p.url }}"  class="summary-link">
      <div class="article-style">
        {{ p.data.subtitle }}
      </div>
    </a>

    <div class="stream-meta article-metadata">
<div class="article-metadata">
  <div>
  {{ p.data.authors | authorSpans }}
  </div>

  <span class="article-date">
          Last updated on
    {{ p.data.lastmod | mdy }}
  </span>

  <span class="middot-divider"></span>
  <span class="article-reading-time">
    {{ p.data.readingTime }} min read
  </span>
</div>
    </div>

  </div>
  <div class="ml-3">
  </div>
</div>
{% endfor %}
</div>
  </div>
