---json
{
  "layout": "base.njk",
  "permalink": "/publication/index.html",
  "kind": "list",
  "pageTitle": "Publications",
  "rssPath": "/publication/index.xml",
  "updatedSource": "pubs",
  "wcPageId": "3a079e7dad19be978a318345a7749d34",
  "footerFile": "parts/footer-publication.html"
}
---
<div class="universal-wrapper pt-3">
  <h1>Publications</h1>
</div>

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-row mb-4">
        <div class="col-auto">
          <input type="search" class="filter-search form-control form-control-sm" placeholder="Search..." autocapitalize="off"
          autocomplete="off" autocorrect="off" role="textbox" spellcheck="false">
        </div>
        <div class="col-auto">
          <select class="pub-filters pubtype-select form-control form-control-sm" data-filter-group="pubtype">
            <option value="*">Type</option>
{% for t in collections.typeList %}            <option value=".pubtype-{{ t.slug }}">
              {{ t.label }}
            </option>
{% endfor %}          </select>
        </div>
        <div class="col-auto">
          <select class="pub-filters form-control form-control-sm" data-filter-group="year">
            <option value="*">Date</option>
{% for y in collections.pubYears %}            <option value=".year-{{ y }}">
              {{ y }}
            </option>
{% endfor %}          </select>
        </div>
      </div>
      <div id="container-publications">
{% for p in collections.pubs %}        <div class="grid-sizer col-lg-12 isotope-item pubtype-{{ p.data.typeId }} year-{{ p.data.pdate | yearOf }}">
<div class="pub-list-item view-citation" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
  <span class="article-metadata li-cite-author">
  {{ p.data.authors | authorSpans }}
  </span>
  ({{ p.data.pdate | yearOf }}).
  <a href="{{ p.url }}">{{ p.data.titleHtml }}</a>.
  {{ p.data.citeVenueCell }}
  <p>
{{ p.data.links | btnLinksSm }}
</p>
</div>
        </div>
{% endfor %}      </div>
    </div>
  </div>
</div>
  </div>
