---json
{
  "layout": "base.njk",
  "permalink": "/tags/index.html",
  "kind": "list",
  "pageTitle": "Tags",
  "rssPath": "/tags/index.xml",
  "updatedSource": "tags"
}
---
<div class="universal-wrapper pt-3">
  <h1>Tags</h1>
</div>

<div class="universal-wrapper">
{% for t in collections.tagList %}
<div class="media stream-item view-compact">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="{{ t.url }}" >{{ t.title }}</a>
    </div>

    <div class="stream-meta article-metadata">
<div class="article-metadata">
  <span class="article-date">
    {{ t.updated | mdyShort }}
  </span>
</div>
    </div>

  </div>
  <div class="ml-3">
  </div>
</div>
{% endfor %}
</div>
  </div>
