---json
{
  "pagination": { "data": "collections.typeList", "size": 1, "alias": "term" },
  "permalink": "/publication-type/{{ term.slug }}/index.html",
  "layout": "layouts/list.njk",
  "kind": "term"
}
---
